@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Easy Shapes</h1>
    <p>The most important attribute of the human being is the <b>Curiosity</b>. It has helped the entire human nature to become the most powerful living being in the world. In the recent past, the man has made most of his tasks automatic using various available technologies. While most of the people overlook the future with different innovations, there are a lot of existing manual activites that can be automated to make the man's life a lot easier. Natural Language Processing has been a key factor of the Human Computer Interactions. Someone should find the small holes there and provide some smart solutions to make a better life for the people. Making the computer interactions easier, thus saving the valuable time.</p>
    <p>We have named this project <b>Easy Shapes</b> because using simple commands, we can create shapes using this.</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Create Shapes", "Create", "Shape", null, new { @class = "btn btn-primary" })
    </div>
</div>